<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-primary border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">
        <app-header></app-header>
    </h5>
   

    <nav class="my-2 my-md-0 mr-md-3">
      <a class="p-2 text-light" [routerLink]="['/shop']">Shop</a>
      <a class="p-2 text-light" href="#">Enterprise</a>
      <a class="p-2 text-light" href="#">Support</a>
      <a class="p-2 text-light" href="#">Pricing</a>
    </nav>
    <a class="btn btn-success text-light" [routerLink]="['/register']" style='margin-right:10px' href="#">Sign up</a>
    <a class="btn btn-outline-success text-light" [routerLink]="['/login']" href="#">Login</a>
  </div>